@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Movies</h1>

<div class="row  align-items-center mb-3">
    <form class="col-auto row">
        <div class="col-auto">
            <select asp-for="SelectedGenreId" name="genre" asp-items="Model.Genres" class="form-control">
                <option>All</option>
            </select>
        </div>
        <div class="col-auto ">
            <button class="btn btn-primary ">Get Movies</button>
        </div>
    </form>
    <form class="col-auto ml-auto">
        <input type="text" name="q" asp-for="SearchCriteria" placeholder="Search" class="form-control"/>
    </form>
</div>

<table id="tblMovies" class="table table-striped table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Genres</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Movie movie in Model.Movies)
        {
            <tr>
                <td>@movie.Id</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Rating</td>
                <td>@string.Join(",", movie.Genres.Select(x => x.Name))</td>
            </tr>
        }
    </tbody>

</table>
@section Scripts{ 
<script>
    $('#tblMovies').DataTable({
        searching: false,
        lengthChange: false
    });

</script>

}